<nav class='navbar'>
  <div class='container'>
    <ul class='navbar-list'>
      <li class='navbar-item'><%= link_to 'About me', root_path, class: 'navbar-link' %></li>
      <li class='navbar-item'><%= link_to 'Some thoughts', thoughts_path, class: 'navbar-link' %></li>
    </ul>
  </div>
</nav>
<section class='header'>
  <h2 class='title'>The things I most enjoyed making</h2>
</section>
<div class='docs-section' id='pocketlab'>
  <h6 class='docs-header'>PocketLab</h6>
  <p>I have been the main developer on <%= link_to 'PocketLab', 'https://www.thepocketlab.com' %> for a while now. Besides being an amazing product with loads of users it makes use of some really interesting techology to do what it does.</p>
  <p>You can buy a PocketLab device <%= link_to 'here', 'https://www.thepocketlab.com/store' %></p>
  <p>And then download the <%= link_to 'android app here', 'https://play.google.com/store/apps/details?id=com.pocketlab.android&hl=en' %></p>
  <p>Or the <%= link_to 'iOS app here', 'https://itunes.apple.com/us/app/the-pocketlab/id1005909631?mt=8' %></p>
  <p>Or just use the <%= link_to 'web app here', 'https://app-staging.thepocketlab.com' %></p>
</div>
<div class='docs-section' id='canvas'>
  <h6 class='docs-header'>Wedding website</h6>
  <p>The <%= link_to 'website', 'https://johnandhinaswedding.website' %> I made for my wedding was nice because it was for my wedding but also because I got to play around with canvas.</p>
</div>
<div class='docs-section' id='other'>
  <h6 class='docs-header'>Other work</h6>
  <p>I have worked on lots of other projects. Feel free to contact me by email if you want to discuss them further</p>
</div>

