<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Zode64, freelance software engineer</title>
    <meta name='description' content=''>
    <meta name='author' content='zode64'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js'></script>
    <%= favicon_link_tag 'cube.png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class='code-snippets-visible'>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
